<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<br><br>

<div *ngFor="let poke of pokemons" >
  <h4> {{poke.nombre}} </h4>
  <img src="{{poke.imgDetras}}" style="margin-right:5%;" alt=""> 
  <img src="{{poke.imgFrente}}" alt="">
  <div>
    <h6>Movimientos</h6>
    <p *ngFor="let move of poke.movimientosDatos" >
      {{move.movimientos}}
    </p>
  </div>
  <hr>
  <br><br>
</div>


<router-outlet></router-outlet>
