@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');


.btnMenu{
    border: 1px solid yellow; 
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: 50%;
    border-radius: 10%;
    padding: 2%;
}

.btnMenuInside{
    font-size: 150%;
    margin-right: 5%;
}



.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.fondoBatalla{
    /* margin:auto; */
    margin: 0% 0% 0% 20%;
    width: 900px; 
    height: 500px; 
    background-image:url('https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg');
}

.sidenav {
    height: 78%;
    width: 230px;
    position: fixed;
    margin-top: 8%;
    margin-left:1%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 10%;
    border: 3px solid rgb(194, 191, 19);
  }

  .sidenavLuchaPokemon {
    height: 70%;
    width: 230px;
    position: fixed;
    margin-top: 12%;
    margin-left:1%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 10%;
    border: 3px solid rgb(194, 191, 19);
  }

  .sidenavcambiaPokemon1 {
    height: 65%;
    width: 230px;
    position: fixed;
    margin-top: 9%;
    margin-left:1%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 10%;
    border: 3px solid rgb(194, 191, 19);
  }

  .sidenavcambiaPokemon2 {
    height: 85%;
    width: 225px;
    position: fixed;
    margin-top: 7%;
    margin-left:1%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 10%;
    border: 3px solid rgb(194, 191, 19);
  }



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav button {font-size: 18px;}
  }

  .menuBtnBatalla{
    font-size: 20px;
    margin:auto;
    width: 90%;
    color: black;
    display: block;
    border-radius: 30%;
    border: 1px solid black;
  }

  .btnCambiaPokemon{
    font-size: 120%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 10%;
    width: 90%;
    border: 1px solid black;
    border-radius: 5%;
    display: block;
  }

  .btnLuchaPokemon{
    font-size: 110%;
    margin: auto;
    margin-bottom: 5%;
    width: 90%;
    border: 1px solid black;
    border-radius: 5%;
    display: block;
  }

  #btnEfectoGrande:hover{
    color: white
  }  

  .btnVolverAtras{
    display: block;
  width:4%;
  float:left;
  margin-left: 3%;
  position: fixed;

  }

  .infoPokedex{
    margin:auto;
    border-radius: 7%;
    border:2px solid yellow;
    width:70%; 
    height:800px; 
    background-image:url("http://i.imgur.com/adJyfqI.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    padding:1%
  }

  .imgsPokedexInfo{
    border: 4px solid rgb(37, 168, 207);
    border-radius:5%;
    padding:1%;
    text-align:center;
    background-color: rgba(240, 245, 243, 0.726);
    
  }

  .datosPokemons{
    border:2px solid green;
    float:left; 
    border-radius:5%; 
    margin-right: 2%; 
    padding:1%;
    cursor: pointer;
  }

  .statsDatos{
    float: left;
    display: block;
    border-radius:5%; 
    border:2px solid rgb(163, 159, 159);
    padding: 1%;
    margin-left:3%;
    margin-bottom: 2%;
    background-color: rgb(77, 84, 97);
    color: white;
  }

  .statsDatos:hover{
    background-color: rgb(12, 12, 12);
    cursor: pointer;
  }

  .subTitulosInfoPokedex{
    float: left;
    margin-left:10%;
    font-family: 'Stylish', sans-serif;
    font-size: 150%;
  }

  .hrPokedex{
    border:1px solid rgb(122, 121, 121);
  }

  .disabled{
    cursor: not-allowed;
    border: outset 2px gray;
    background-color: rgb(185, 185, 185) !important;
  }


  /* Lista de colores para los botones por tipo */
  .btnFuego{
    background-color: rgb(218, 131, 131);
  }
  .btnAgua{
    background-color: rgb(131, 149, 224);
  }
  .btnPlanta{
    background-color: rgb(111, 231, 137);
  }
  .btnElectrico{
    background-color: rgb(208, 230, 112);
  }
  .btnInsecto{
    background-color: rgb(42, 153, 66);
  }
  .btnAcero{
    background-color: rgb(166, 173, 168);
  }
  .btnTierra{
    background-color: rgb(211, 151, 102);
  }
  .btnNormal{
    background-color: rgb(238, 191, 217);
  }
  .btnSiniestro{
    background-color: rgb(26, 27, 26);
    color:white;
  }

  /* Estilos barra de progreo */
  progress {
    display: block; /* default: inline-block */
    width: 85%;
    padding: 4px;
    border: 0 none;
    background: rgb(36, 34, 34);
    border-radius: 14px;
  }

  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
      height: 25px;
    }
  }

  progress::-webkit-progress-value  {
    background: rgb(130, 240, 86);
  }
  
  progress::-webkit-progress-bar {
    background: rgb(197, 195, 195);
  }


